# Dependencies
node_modules/
 
# Automation
upload.bat
upload.py
Start_Server.bat
start_server.py
GEMINI.md
README.md

# Environment
.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
